<div id="main" data-yield="main">
  <div id="error-message"><strong>ERROR:</strong> <span></span> <a href="">Refresh</a></div>
  <div id="wrap">
    <!-- MenuView -->

    <!-- DateTitleView -->

    <!-- TasksView -->

    <!-- NewTaskView -->

    <!-- TODO: Blank state -->

  </div>
</div>
<div class="specs">
  <a href="/test-js/SpecRunner.html">Run Specs</a>
</div>